<html>
{% load i18n %}
<head>
    <title>Twitter</title>
</head>
<link href="/media/css/scss/style.scss" rel="stylesheet"/>
<body>
    <div>
        <span>  <a href="{% url twitter.views.switch_language "fr" %}">Fran&ccedil;ais</a> </span>|
        <span>  <a href="{% url twitter.views.switch_language "en" %}">English</a> </span>
    </div>
    {% trans "Welcome To Twitter"%}
        <img class="image" src="/media/images/at-twitter.png">
    <p class="welcome">{% trans "Welcome anonymous user!"%}

    <a href="/login/">{% trans "login"%}</a>|
    <a href="/register/">{% trans "register"%}</a>

    {% block content %}{% endblock %}
</body>
</html>