<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
{% load i18n %}
<body>
{% include 'trans.html' %}
 {% trans "Welcome To Twitter"%}
    {{ user.username }}
     <a href="/welcome">{% trans "home"%}</a> |
     <a href="/logout">{% trans "logout"%}</a>
    <br>
    {% trans "Your Tweets are"%} :
    {% for i in list_tweet %}
{#        {% if i.name == user.username %}#}
            <li> {{ i.name }}  |  {{ i.tweet }} </li><br>
{#        {% endif %}#}
    {% endfor %}
</body>
</html>